<!doctype html>
    <head>
      <link rel="stylesheet" href="/static/css/myfile.css">
    </head>
    <div class=container>
    <title>Upload Multiple Files</title>
    <h1>Upload Multiple Files</h1>
    <h3>Files must be named controls.json and vulnerabilities.json</h3>
    <h3>vulnerabilities.json must be CVE or CWE</h3>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file multiple>
      <h3>Enter a Tactic ID to Prioritize (Leave it blank if none)</h3>
      <!input type=submit value=Upload>
      <label for="tactic id">TA00</label>
      <input type="text" id="tactic_id" name="tactic_id" placeholder="enter the last 2 digits" maxlength="2">
      <input type=submit value=Test>
    </form>
    
