html {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width:100%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mainContainer{
	display: grid;
	width:100%;
	grid-template-columns: auto auto auto;
}
.column{
	float:left;
	width: 33.33%;
}